Frontend/.vs/
Frontend/packages
Frontend/Frontend/bin
Frontend/Frontend/obj

lib/.idea/
lib/node_modules/
lib/package-lock.json

old/frontend/.idea
old/frontend/node_modules/
old/frontend/package-lock.json

old/frontend-test/.idea
old/frontend-test/node_modules/
old/frontend-test/package-lock.json


