todo.txt
Frontend/.vs/
Frontend/packages
Frontend/Frontend/bin
Frontend/Frontend/obj

Backend/.idea/
Backend/node_modules/
Backend/package-lock.json
Backend/src/unused/

verapdf/

Text/*
!Text/figures/
!Text/abstrakt-cs.txt
!Text/abstrakt-en.txt

!Text/abstrakt-cs.tex
!Text/abstrakt-cs.pdf

!Text/abstrakt-en.tex
!Text/abstrakt-en.pdf

!Text/abstrakt-cs-en.tex
!Text/abstrakt-cs-en.pdf

!Text/bib.tex
!Text/bp.pdf
!Text/bp-2u.pdf
!Text/bp-tisk.pdf
!Text/bp.tex
!Text/desky.tex
!Text/desky.pdf
!Text/titulka.tex
!Text/popis.txt